.container{
    display: flex;
}

.container h1,h2,h3,h4,h5,h6{
    color: rgba(0, 180, 216);
}

.col-left {
    flex: 1.5;
    text-align: center;
    background-color: rgba(218, 244, 249);
}

.col-right {
    flex: 2;
    margin-left: 20px;
}

.row-name {
    
}

.row-img {
    border: 4px solid rgba(0, 180, 216);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
}

.row-infomation{
    text-align: left;
    margin-left: 20px;
}

.row-infomation-item i {
    color: rgba(0, 180, 216);
    margin-right: 10px;
}

.row-infomation-item {
    display: flex;
}

.row-infomation-item img {
    margin-right: 10px;
}

.row-infomation-item-2 {

}

.row-infomation-item-hocvan {
    display: flex;
    justify-content: space-between;
}

.row-infomation-item-knlv {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: red;
}

.box1 {
    background-color: blue;
}